/************ Fonts ************/

@font-face { 
	font-family: "GoodDog";
	src: url("../fonts/WebFont.woff") format("woff");
}



/************ Layout ************/

body {
	background-color: #FFFDF1;
	font: normal normal 14px Helvetica;
}

#nav {
	list-style-type: none;
	text-align: center;
	margin-left: -30px;
	
}

ul#nav li {
	display: inline;
	margin-left: 30px;
}

#wrapper {
	background-color: #00A67C;
	width: 785px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	border-radius: 12px;
	box-shadow: 8px 8px 20px #666666;
	opacity: 0.9;
	border: 8px solid #FFFFFF;
}

figure {
	float: left;
	width: 22%;
	text-align: center;
}

#imgcont {
	height: 250px;
}

/************ Text ************/

h1 {
	text-shadow: 3px 3px 3px #325463;
	font-family: "GoodDog";
	font-size: 50px;
	text-align: center;
}

#wikitext {
	line-height: 1.4em;
}

/************* Links *************/

a:link, a:visited {
	color: #000000;
}
a:hover, a:active {
	color: #FFFDF1;
}

img:hover {
	border: 5px solid #FFFFFF;
}