/************ Fonts ************/

@font-face { 
	font-family: "GoodDog";
	src: url("../fonts/WebFont.woff") format("woff");
}



/************ Layout ************/

body {
	background:url("../images/bgrep.jpg") repeat center;
	font: 14px Helvetica, Arial, sans-serif, sans-serif;
}

#nav {
	list-style-type: none;
	text-align: center;
	width: 785px;
	clear: both;
}
ul#nav {
	margin: 0 auto;
	width: 450px;
}

ul#nav li {
	margin-left: 30px;
	background: linear-gradient(180deg, #218f75, #41d4b1);
	width: 100px;
	height: 35px;
	display: block;
	float: left;
	padding-top: 15px;
	border-radius: 12px;
}

ul#nav li:hover {
	background: linear-gradient(180deg, #41d4b1, #218f75);
}

#wrapper {
	background: linear-gradient(180deg, #00A673, #218f75);
	width: 785px;
	height: 100%;
	margin: 0 auto;
	padding: 15px;
	border-radius: 12px;
	box-shadow: 8px 8px 20px #666666;
	opacity: 0.9;
	border: 8px solid #FFFFFF;
	overflow: auto;
}

figure {
	float: left;
	width: 22%;
	text-align: center;
}

#imgcont {
	height: 250px;
}

#contleft {
	width: 360px;
	float: left;
	padding-left: 40px;
}

#contright {
	width: 325px;
	float: left;
	padding-left: 60px;
}

#mainleft {
	width: 360px;
	float: left;
	padding-left: 40px;
}

#mainright {
	width: 325px;
	float: left;
	padding-left: 60px;
}

#header {
	height: 100px;
	width: 502px;
	margin: 0 auto;
}

/************ Text ************/

h1 {
	background:url("../images/icon.png") no-repeat left;
	height: 75px;
	padding-top: 25px;
	padding-left: 100px;
	text-shadow: 3px 3px 3px #325463;
	font-family: "GoodDog";
	font-size: 50px;
	float: left;
}
h2 {
	font-weight: normal;
	font-style: italic;
}

#wikitext {
	line-height: 1.4em;
}

figcaption {
	font-size: 14px;
}

/************* Links *************/

a:link, a:visited {
	color: #000000;
}
a:hover, a:active {
	color: #000000;
}
#imgcont a {
	border: 5px solid #000000;
	display: block;
	height: 100px;
	width: 100px;
	margin-left: 30px;
}
#imgcont a:hover {
	border: 5px solid #FFFFFF;
}